body{
    background-color: #0A3C77;
}

.navbar-nav{
    width: 50%;
    height: 8vh;
}

.box-powerbi{
    min-height: 70vh;
    min-width: 100%;
}

.bg-section-primary{
    background-color: #345F9F;
}

.box-produtos{
    min-width: 100%;
    min-height: 20vh;
}

.box-filtros{
    width: 30%;
    height: 9vh;
}

.tamanho-section-primary{
    max-width: 85%;
    height: 200vh
}

.select-style{
    background-color: #C14040;
    border: none;
}

.box-cards{
    width: 90%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 20px;
}